<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset=utf-8"/>
    <title>{% block title %}Home{% endblock %} - NewsSiteTask</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Irish+Grover' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<section id="wrapper">
    <header id="header">
        <hgroup>
            <h2>{% block blog_title %}<a href="/">News Site</a>{% endblock %}</h2>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>

    <div id="footer">
        {% block footer %}
            News site task - created by <a href="https://github.com/shmuft">shmuft</a>
        {% endblock %}
    </div>
</section>

{% block javascripts %}{% endblock %}
</body>
</html>