ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.current {
    background-color: green;
}

.news-notice {
    text-align: center;
    padding: 10px;
    background: #DFF2BF;
    border: 1px solid;
    color: #4F8A10;
    margin-bottom: 10px;
}

form.news {
    font-size: 16px;
}

form.news div {
    clear: left;
    margin-bottom: 10px;
}

form.news label {
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    padding-top: 10px;
}

form.news input[type="text"],
form.news input[type="email"] {
    width: 500px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}

form.news textarea {
    width: 500px;
    height: 150px;
    line-height: 26px;
    font-size: 20px;
}

form.news input[type="submit"] {
    margin-left: 110px;
    width: 508px;
    line-height: 26px;
    font-size: 20px;
    min-height: 26px;
}

form.news ul li {
    color: #ff0000;
    margin-bottom: 5px;
}